.categories-container {
  width: 100%;
  padding: 40px 60px;
  background: #f8fafc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px;
}


/* Each category section */
.category-section {
  width: 100%;
}


/* Header */
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e7eb;
}


.category-header h2 {
  font-size: 22px;
  font-weight: 700;
  color: #111827;
}


.ads-count {
  font-size: 14px;
  color: #9ca3af;
}


/* Cards Layout */
.subcategory-grid {

  display: flex;
  flex-wrap: wrap;
  gap: 18px;

}


/* First card big */
.large-card {

  flex: 0 0 calc(65% - 9px);

}


/* Second card small */
.small-card {

  flex: 0 0 calc(35% - 9px);

}


/* Card */
.subcategory-card {

  height: 150px;
  position: relative;

  border-radius: 20px;

  overflow: hidden;

  padding: 25px;

  display:flex;
  align-items:flex-start;

  cursor:pointer;

  transition:.35s ease;

}


/* Hover */
.subcategory-card:hover {

 transform:
 translateY(-6px)
 scale(1.02);

}


/* Text */
.card-content {

 position:relative;
 z-index:3;

}


.card-title {

 font-size:18px;
 font-weight:600;
 color:#111827;

 max-width:180px;

}


/* Image wrapper */

.card-image-wrapper {

 position:absolute;

 right:0;
 bottom:0;

 width:160px;
 height:130px;

 display:flex;
 justify-content:flex-end;
 align-items:flex-end;

 z-index:2;

}



/* Actual image */

.card-image {

 width:100%;
 height:100%;

 object-fit:contain;

 display:block;

 background:none!important;

 border:none!important;

 box-shadow:none!important;

}


/* Different colors */


.card-theme-0{

background:
linear-gradient(
135deg,
#ffe4e6,
#fecdd3
);

}


.card-theme-1{

background:
linear-gradient(
135deg,
#dbeafe,
#bfdbfe
);

}


.card-theme-2{

background:
linear-gradient(
135deg,
#dcfce7,
#bbf7d0
);

}


.card-theme-3{

background:
linear-gradient(
135deg,
#fef3c7,
#fde68a
);

}


.card-theme-4{

background:
linear-gradient(
135deg,
#ede9fe,
#ddd6fe
);

}



/* Responsive */

@media(max-width:1100px){

.categories-container{

grid-template-columns:1fr;

padding:30px;

}


}


@media(max-width:600px){


.large-card,
.small-card{

flex:0 0 100%;

}


}