.footer{

  
  background:linear-gradient(
        135deg,
        #e9cdb9 0%,
        #f6c582 50%,
        #c4f1b0 100%
    );

}



.footer-container{


max-width:1280px;


margin:auto;


padding:45px 40px;


display:flex;


justify-content:space-between;


gap:60px;


}





/* BRAND */


.footer-brand{


max-width:330px;


}



.footer-logo{


width:170px;


height:auto;


object-fit:contain;


margin-bottom:15px;


}



.footer-brand p{


font-size:14px;


line-height:1.7;

   color:#4b5563;


}





/* SOCIAL */


.social-links{


display:flex;


gap:14px;


margin-top:20px;


}



.social-links a{


width:38px;


height:38px;


border-radius:50%;


background:white;


display:flex;


align-items:center;


justify-content:center;


   color:#4b5563;


font-size:17px;


transition:.3s;


box-shadow:
0 5px 15px rgba(0,0,0,.08);


}



.social-links a:hover{


background:#ff7a18;


color:white;


transform:translateY(-3px);


}





/* LINKS */


.footer-links{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:70px;


}



.footer-links h4{


font-size:16px;

  color:#111827;
margin-bottom:15px;


   


}



.footer-links ul{


list-style:none;


padding:0;


margin:0;


}



.footer-links li{


margin-bottom:12px;


}



.footer-links a{


text-decoration:none;


font-size:14px;


color:#45464d;


transition:.3s;


}



.footer-links a:hover{


color:#ff7a18;


padding-left:5px;


}





/* BOTTOM */


.footer-bottom{


max-width:1280px;


margin:auto;


border-top:1px solid #c6c6cd;


padding:18px 40px;


text-align:center;


}



.footer-bottom p{


margin:0;


font-size:14px;


color:#555;


}








/* TABLET */


@media(max-width:900px){



.footer-container{


flex-direction:column;


}



.footer-links{


width:100%;


}



}









/* MOBILE */


@media(max-width:600px){



.footer-container{


padding:35px 20px;


}



.footer-links{


grid-template-columns:repeat(2,1fr);


gap:30px;


}



.footer-logo{


width:150px;


}


}







/* SMALL MOBILE */


@media(max-width:400px){


.footer-links{


grid-template-columns:1fr;


}



}